<div>
    <h2 id="page-heading">
        <span>Receivers</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-receiver" [routerLink]="['/receiver/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Receiver
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="receivers?.length === 0">
        <span>No receivers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="receivers?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Uuid</span></th>
                    <th scope="col" ><span>Name</span></th>
                    <th scope="col" ><span>Email</span></th>
                    <th scope="col" ><span>Phone</span></th>
                    <th scope="col" ><span>Id</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let receiver of receivers ;trackBy: trackId">
                    <td><a [routerLink]="['/receiver', receiver.id, 'view']">{{ receiver.id }}</a></td>
                    <td>{{ receiver.uuid }}</td>
                    <td>{{ receiver.name }}</td>
                    <td>{{ receiver.email }}</td>
                    <td>{{ receiver.phone }}</td>
                    <td>
                        <div *ngIf="receiver.idId">
                            <a [routerLink]="['/product', receiver.idId , 'view']" >{{ receiver.idId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/receiver', receiver.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/receiver', receiver.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(receiver)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
